# Node
node_modules/
dist/
.astro/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# .NET
bin/
obj/

# Azure Functions
local.settings.json

# Environment
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db